.links-container {
    margin-top: 20px;
    width: 325px;
    height: auto;
    .line {
        background-color: whitesmoke;
        width: 100%;
        height: 3px;
        margin-top: 15px;
        margin-bottom: 15px;
        border-radius: 2px;
    }
    .pagination-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    
}